{% extend_this %}

{% block links %}
    {# Overwrite the links section #}
    {# Firt call the links of the parent #}
    {{ super() }}
    {# Add the required CSS for this page #}
    {% resource request,'plibrary','CSS','leaflet' %}
{% endblock links %}

{% block logo %}
    {# Overwrite the logo section #}
    <img class="logo img-responsive" src="{{request.url_for_static('pstatic/ppyramid.png') }}" alt="pyramid web framework">
{% endblock logo %}

{% block title %}
    {# Overwrite the title section #}
    <p class="lead">Welcome to <span class="font-normal">{{ project }}</span>, a&nbsp;Pyramid application that has been extended using PCA plugins.</p>
{% endblock title %}

{% block extra %}
    {#
     We call super() first so the snippet of the parent is included
     then we require the CSS of leaflet and then the JS of mymap.
     We add a new div so the map is shown
    #}
    {{ super() }}
    <div id="mapid" style="height: 600px; width: 600px"></div>
{% endblock extra %}

{% block scripts %}
    {# Overwrite the scripts section #}
    {# Firt call the scripts of the parent #}
    {{ super() }}
    {# Add the required JS for this page #}
    {% resource request,'plibrary','JS','mymap' %}
{% endblock scripts %}


